header{
	color:darkgreen;
	font: arial;
  margin-top: 45px;
}

footer{
	color: #3333cc;
	font: bold 15px Georgia;
}

h1 {
	text-align: center;
}

.c {
	text-align: center;
  margin-bottom: 45px;
}

header h1 {
  font-family: 'Lora', serif;
}

a:visited {
  color: orange;
}

a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
}

.yellow {
  background-color: #e6ccb3;
  color: darkred;
}

.yellow p {
  width: 100%;
  text-align: center;
}